.video-js {
    margin: auto;
    background-color: #343a40 !important;
}

.textDiv {
    margin-top: 20px;
    text-align: justify;
}

.listDiv {
    width: 100%;
}

.genreDiv {
    display: inline-block;
    width: 50%;
}

.platformsDiv {
    display: inline-block;
    width: 50%;
}

.textDescription {
    font-weight: bold;
}

.img-modal {
    margin: auto;
}

.img-modal {
    width: 300px;
    height: 150px;
}

.spinner-border {
    width: 7rem !important;
    height: 7rem !important;
}

.hidden {
    display: none;
}

.fixed {
    position: fixed;
    z-index: 100;
}

html {
    background-color: #151515;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}


.nav-item {
    font-size: 18px;
}

li.nav-item {
    margin-right: 30px;
}

.header {
    background-color: #151515;
    margin-bottom: 40px;
    width: 100%;
    height: 140px;
}

.form-control {
    border-radius: 24px !important;
    width: 50% !important;
}

.nav {
    padding-top: 20px;
    width: 60%;
    margin: 0 auto;
}

.card-platforms {
    padding: 5px;
    display: inline-block;
    min-width: 88%;
}

.game-score {
    display: inline-block;
    min-width: 10%;
    color: #6dc849;
    border-color: #6dc849;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
}

.platform {
    display: inline-block;
    margin-right: 6px;
    height: 13px;
}

.album {
    background-color: #151515;
    margin-top: 50px;
}

.row {
    margin-top: 50px;
}

.d-flex {
    z-index: 1000;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.85;
}

.spinner-border {
    position: relative;
    top: 50%;
}

.bd-placeholder-img {
    height: 225px;
}

#form-control {
    transition: all 0.7s ease;
}

#form-control:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.hidden {
    display: none !important;
}

.dropdown {
    margin-left: 20px;
}

.list-group {
    margin-left: 20px;
}

.imgDiv {
    margin-top: 30px;
}

.imgMin {
    width: 370px;
    height: 200px;
    margin: 5px;
}

.StoreDiv {
    width: 100%;
    margin: 0 auto;
}

.btnmodal {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}